* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 50px;
    margin-left: 1%;
}

body {
    background-color: #344147;
    font-family: silkscreen;
}

header {
    background-color: #272f32;
    padding: 3%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.header-top {
    display: flex;
    padding-bottom: 20px;
}

.header-btn {
    font-size: 40px;
    margin-left: 4%;
    background: none;
    border-style: none;
    color: #629c8c;
}

.header-menu {
    display: flex;
}

ul {
    text-align: auto;
    font-size: 20px;
}

ul :hover {
    font-size: 32px;
}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
}

.header-menu a {
    color: #8be0c8;
    text-decoration: none;
}

/* Aqui termina el header */

.primer-grupo {
    margin-top: 35%;
    width: 100%;
    color: #68c3a9;
    margin-left: 2%;
    font-size: 15px;
}

h1 {
    font-size: 40px;
}

.segundo-grupo {
    width: 100%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
}

.lista {
    width: 45%;
}

.lista a {
    color: #629c8c;
    text-decoration: none;
    font-size: 15px;
    padding: 0.5px;
}

.enlaces-g1 {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: #272f32;
    padding: 12px;
}

.enlaces-g2 {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: #272f32;
    padding: 12px;
}

.enlaces-g3 {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: #272f32;
    padding: 12px;
}

.enlaces-g4 {
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    background-color: #272f32;
    padding: 12px;
}

.imagenes {
    width: 30%;
    margin-left: 2%;
    text-align: center;
}

.img1 {
    margin-top: 75%;
    height: 150px;
    border-style: solid;
    border-color: #629c8c;
    border-width: 3px;
    border-radius: 4px;
}

.imagen-extra {
    width: 100%;
    text-align: center;
    padding: 2%;
}

.publi {
    height: 130px;
    border-style: solid;
    border-color: #629c8c;
    border-width: 5px;
    border-radius: 4px;
}

.enlaces-g1:hover{
    background-color: red;
    color: white;
}

.enlaces-g2:hover{
    background-color: rgb(92, 205, 243);
    color: white;
}

.enlaces-g3:hover{
    background-color: yellow;
    color: black;
}

.enlaces-g4:hover{
    background-color: rgb(133, 37, 133);
    color: white;
}

/*footer*/

footer {
    text-align: center;
    width: 100%;
    padding: 3px;
    background-color: #272f32;
  }
  
.menu2 {
      width: 100%;
  }
  
.men2 {
    margin-left: 2%;
    text-decoration: none;
    color: #68c3a9;
    font-size: 17px;
}
  
.footer-bottom {
    text-transform: uppercase;
    opacity: 4;
    color: aliceblue;
    background-color: #272f32;
    font-size: 10px;
    padding: 20px;
  }

/* Aqui termina el footer */

@media screen and (min-width: 810px) {
    body {
        background: #344147;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-top {
        padding-bottom: 0;
    }

    .header-menu {
        padding-top: 0;
        display: block !important;
    }

    .header-menu ul {
        flex-direction: row;
    }

    .header-btn {
        display: none;
    }

    h1 {
        margin-top: 13%;
    }

    ul {
        text-align: center;
        font-size: 20px;
    }

    ul :hover {
        color: #b3f9e5;
        font-size: 22px;
    }

/*salto*/

    .primer-grupo {
        width: 95%;
        margin-top: -2%;
        color: #68c3a9;
        margin-left: 2%;
        font-size: 20px;
    }

    h1 {
        font-size: 50px;
    }

    .segundo-grupo {
        width: 95%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
    }

    .lista {
        width: 70%;
    }

    .lista a {
        color: #629c8c;
        text-decoration: none;
        font-size: 30px;
        padding: 0.5px;
    }

    .enlaces-g1 {
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;
        background-color: #272f32;
        padding: 12px;
    }

    .enlaces-g2 {
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;
        background-color: #272f32;
        padding: 12px;
    }

    .enlaces-g3 {
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;
        background-color: #272f32;
        padding: 12px;
    }

    .enlaces-g4 {
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;
        background-color: #272f32;
        padding: 12px;
    }

    .imagenes {
        width: 30%;
        text-align: center;
    }

    .img1 {
        margin-top: 25%;
        height: 250px;
        border-style: solid;
        border-color: #629c8c;
        border-width: 3px;
        border-radius: 4px;
    }

    .imagen-extra {
        width: 100%;
        text-align: center;
    }

    .publi {
        height: 300px;
        border-style: solid;
        border-color: #629c8c;
        border-width: 5px;
        border-radius: 4px;
    }

    .enlaces-g1:hover{
        background-color: red;
        color: white;
    }

    .enlaces-g2:hover{
        background-color: rgb(92, 205, 243);
        color: white;
    }

    .enlaces-g3:hover{
        background-color: yellow;
        color: black;
    }

    .enlaces-g4:hover{
        background-color: rgb(133, 37, 133);
        color: white;
    }


/*footer*/

    footer {
        text-align: center;
        width: 100%;
        padding: 3px;
        background-color: #272f32;
      }
      
    .menu2 {
        width: 100%;
      }
      
    .men2 {
        margin-left: 8%;
        text-decoration: none;
        color: #68c3a9;
        font-size: 17px;
    }
      
    .footer-bottom {
        text-transform: uppercase;
        opacity: 4;
        color: aliceblue;
        background-color: #272f32;
        font-size: 10px;
        padding: 20px 0;
      }
}