* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #344147;
    font-family: silkscreen;
}

h1 {
    margin-top: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border: 3px;
    border-style: solid;
    box-shadow: 0px 0px 11px #c5faeb;
    color: #68c3a9;
    text-align: center;
    font-size: 40px;
    }

ul {
    margin-top: 2%;
    list-style-type: square;
}

li {
    margin-top: 7%;
    margin-left: 32%;
    margin-right: 20%;
    color: #68c3a9;
    text-align: left;
    cursor: pointer;
    font-size: 150%;
}

li :hover {
    color: #bbe4d8;
    font-size: 120%;
}

a {
    text-decoration: none;
    color: #82baaa;
}

img {
    margin: auto;
    display: block;
    margin-top: 5%;
    width: 100px;
}

@media screen and (min-width: 810px) {
    body {
        background-color: #344147;
        font-family: silkscreen;
    }
    
    h1 {
        margin-top: 14%;
        margin-left: 22%;
        margin-right: 22%;
        border: 3px;
        border-style: solid;
        box-shadow: 0px 0px 11px #c5faeb;
        color: #68c3a9;
        text-align: center;
        font-size: 100px;
        }
    
    ul {
        margin-top: 2%;
        list-style-type: square;
    }
    
    li {
        margin-top: 0.5%;
        margin-left: 45%;
        margin-right: 40%;
        color: #68c3a9;
        text-align: left;
        cursor: pointer;
        font-size: 150%;
    }
    
    li :hover {
        color: #bbe4d8;
        font-size: 120%;
    }
    
    a {
        text-decoration: none;
        color: #82baaa;
    }
    
    img {
        margin: auto;
        display: block;
        margin-top: 1%;
        width: 50px;
    }
 }