* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 50px;
    margin-left: 1%;
}

body {
    background-color: #344147;
    font-family: silkscreen;
}

header {
    background-color: #272f32;
    padding: 3%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.header-top {
    display: flex;
    padding-bottom: 20px;
}

.header-btn {
    font-size: 40px;
    margin-left: 4%;
    background: none;
    border-style: none;
    color: #629c8c;
}

.header-menu {
    display: flex;
}

ul {
    text-align: auto;
    font-size: 20px;
}

ul :hover {
    font-size: 32px;
}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
}

.header-menu a {
    color: #8be0c8;
    text-decoration: none;
}

/* Aqui termina el header */

.primer-grupo {
    width: 100%;
    margin-top: 33%;
}

.textito {
    font-size: 15px;
    margin-left: 2%;
    margin-right: 2%;
    color: #8be0c8;
    background-color: #2e383d;
}

h1 {
    font-size: 55px;
    color: #68c3a9;
    margin: 5px;
    padding: 5px;
    margin-left: 2%;
}

.image {
    text-align: center;
}

.img1 {
    width: 120px;
    height: 120px;
}

.img2 {
    height: 100px;
}

.segundo-grupo {
    width: 100%;
    text-align: center;
}

h2 {
    margin-left: 2%;
    margin-right: 2%;
    padding: 8px;
    font-size: 20px;
    margin-top: 70px;
    border-style: solid;
    border-radius: 4px;
    border-color: #68c3a9;
    color: #68c3a9;
}

.img3{
    height: 120px;
}

/*salto*/

.form {
    width: 100%;
}

.form-register {
    text-align: center;
    margin-left: 5%;
    width: 100%;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 4px;
    font-family: 'silkscreen';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-top: -2%;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'silkscreen';
    font-size: 18px;
    color: white;
}

.insertetexto {
    background: #24303c;
    border: 1px solid #1f53c5;
    border-radius: 4px;
    font-family: silkscreen;
    width: 100%;
    resize: none;
    color: white;
}

.control {
    width: 40%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register input[type="radio"] {
    display: none;
    top: 10%;
}

.form-register .radio label {
    color: white;
    background: #24303c;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-register .radio label:hover {
    background: #1f53c5;
}

.form-register .radio label:before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 3px;
}

.form-register input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #376de2;
    border-radius: 2px;
    color: white;
}

.form-register input[type="radio"]:checked + label:before {
    display: none;
}

.form-register .bottom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #24303c;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    border: none;
    font-family: silkscreen;
    text-overflow: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
}

.form-register .boton {
    background: #1f53c5;
    width: 60%;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-overflow: uppercase;
    transition: .3s ease all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-family: silkscreen;
}

.select-container select {
    width: 100%;
    border: 3px;
    border-radius: 3px;
    background: #24303c;
    font-size: 15px;
    outline: none;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    color: rgb(234, 234, 234);
    cursor: pointer;
    font-size: 15px;
}

.flechita {
    height: 20px;
    width: 20px;
}

.select-container:after {
    position: absolute;
    right: 100px;
    top: 25%;
    transform: translate(-50%);
    pointer-events: none;
    cursor: pointer;
    color: white;
}


/*footer*/

footer {
    text-align: center;
    width: 100%;
    padding: 3px;
    background-color: #272f32;
  }
  
.menu2 {
      width: 100%;
  }
  
.men2 {
    margin-left: 2%;
    text-decoration: none;
    color: #68c3a9;
    font-size: 17px;
}
  
.footer-bottom {
    text-transform: uppercase;
    opacity: 4;
    color: aliceblue;
    background-color: #272f32;
    font-size: 10px;
    padding: 20px;
  }

/* Aqui termina el footer */

@media screen and (min-width: 810px) {
    body {
        background: #344147;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-top {
        padding-bottom: 0;
    }

    .header-menu {
        padding-top: 0;
        display: block !important;
    }

    .header-menu ul {
        flex-direction: row;
    }

    .header-btn {
        display: none;
    }

    h1 {
        margin-top: 13%;
    }

    ul {
        text-align: center;
        font-size: 20px;
    }

    ul :hover {
        color: #b3f9e5;
        font-size: 22px;
    }

/*salto*/

.primer-grupo {
    width: 62.6%;
    margin-top: 10%;
}

.textito {
    width: 100%;
    font-size: 20px;
    color: #8be0c8;
}

h1 {
    font-size: 55px;
    color: #68c3a9;
    margin: 5px;
    padding: 5px;
    margin-left: 2%;
}

.segundo-grupo {
    width: 85%;
}

.img1 {
    width: 180px;
    height: 180px;
}

.img2 {
    width: 451px;
    height: auto;
    margin-left: 64%;
    margin-top: -8%;
}

h2 {
    padding: 8px;
    font-size: 50px;
    margin-left: 20%;
    border-style: solid;
    border-radius: 4px;
    border-color: #68c3a9;
    color: #68c3a9;
}

.img3{
    min-height: 300px;
    margin-left: 44%;
    margin-right: 35%;
}

/*salto*/

.form {
    width: 100%;
}

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 70px;
    border-radius: 4px;
    font-family: 'silkscreen';
    color: white;
    box-shadow: 7px 13px 37px #000;
    margin-top: -2%;
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'silkscreen';
    font-size: 18px;
    color: white;
}

.insertetexto {
    background: #24303c;
    border: 1px solid #1f53c5;
    border-radius: 4px;
    font-family: silkscreen;
    width: 335px;
    resize: none;
    color: white;
}

.control {
    width: 40%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register input[type="radio"] {
    display: none;
    top: 10%;
}

.form-register .radio label {
    color: white;
    background: #24303c;
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.form-register .radio label:hover {
    background: #1f53c5;
}

.form-register .radio label:before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    top: 3px;
}

.form-register input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #376de2;
    border-radius: 2px;
    color: white;
}

.form-register input[type="radio"]:checked + label:before {
    display: none;
}

.form-register .bottom {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #24303c;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    border: none;
    font-family: silkscreen;
    text-overflow: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
}

.form-register .boton {
    background: #1f53c5;
    width: 60%;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    text-overflow: uppercase;
    transition: .3s ease all;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    font-family: silkscreen;
}

.form-register .boton span {
    transition: .4s ease-in-out;
    position: relative;
    left: 0%;
    right: 0%;
}

.form-register .boton .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    color:#24303c;
    left: 550px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.form-register .boton svg {
    color:#24303c;
    width: 35px;
    height: 35px;
}

.form-register .boton:hover {
    background: #376de2;
}

.form-register .boton:hover span {
    left: -30px;
}

.form-register .boton:hover .icono {
    left: calc(59% - 50px);
    color: white;
    opacity: 1;
}

.select-container select {
    width: 100%;
    border: 3px;
    border-radius: 3px;
    background: #24303c;
    font-size: 15px;
    outline: none;
    -webkit-appearance: none;
        -moz-appearance: none;
            appearance: none;
    color: rgb(234, 234, 234);
    cursor: pointer;
    font-size: 15px;
}

.flechita {
    height: 20px;
    width: 20px;
}

.select-container:after {
    content: '\25BC';
    position: absolute;
    right: 10px;
    top: 25%;
    transform: translate(-50%);
    pointer-events: none;
    cursor: pointer;
    color: white;
}

/*footer*/

    footer {
        text-align: center;
        width: 100%;
        padding: 3px;
        background-color: #272f32;
      }
      
    .menu2 {
        width: 100%;
      }
      
    .men2 {
        margin-left: 8%;
        text-decoration: none;
        color: #68c3a9;
        font-size: 17px;
    }
      
    .footer-bottom {
        text-transform: uppercase;
        opacity: 4;
        color: aliceblue;
        background-color: #272f32;
        font-size: 10px;
        padding: 20px 0;
      }
}