* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    height: 50px;
    margin-left: 3%;
}

body {
    background-color: #344147;
    font-family: silkscreen;
}

header {
    background-color: #272f32;
    padding: 3%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.header-top {
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
}

.header-btn {
    font-size: 40px;
    margin-left: 4%;
    background: none;
    border-style: none;
    color: #629c8c;
}

.header-menu {
    display: flex;
}

ul {
    text-align: auto;
    font-size: 20px;
}

ul :hover {
    font-size: 32px;
}

.header-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 10px;
}

.header-menu a {
    color: #8be0c8;
    text-decoration: none;
}

/* Aqui termina el header */

.primer-grupo {
    width: 100%;
    margin-top: 30%;
    text-align: center;
}

.img1 {
    margin-top: 8%;
    margin-left: -1%;
}

.col {
    font-size: 20px;
    text-align: center;
    color: #68c3a9;
    margin-top: 8%;
}

h1 {
    font-size: 40px;
    color: #68c3a9;
    margin: 10px;
    padding: 10px;
}

.subgrupo1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.img1 {
    height: 200px;
    background-color: #272f32;
    border-style: solid;
    border-color: #68c3a9;
    border-radius: 5px;
    border-width: 7px;
    margin-right: 5%;
}

/*salto*/

.segundo-grupo {
    width: 100%;
}

.subgrupo2 {
    text-align: center;
}

.subgrupo3 {
    text-align: center;
}

.img-selection {
    height: 250px;
    border-style: double;
    border-color: #68c3a9;
    border-radius: 4px;
    border-width: 8px;
    background-color: #272f32;
}

.col3 {
    text-align: center;
    color: #8be0c8;
    font-size: 25px;
    padding: 2%;
    margin-left: 4%;
}

video {
    width: 80%;
    border-style: double;
    border-color: #68c3a9;
    border-radius: 4px;
    border-width: 8px;
    background-color: #272f32;
}

/*footer*/

footer {
    text-align: center;
    width: 100%;
    padding: 3px;
    background-color: #272f32;
  }
  
.menu2 {
      width: 100%;
  }
  
.men2 {
    margin-left: 2%;
    text-decoration: none;
    color: #68c3a9;
    font-size: 17px;
}
  
.footer-bottom {
    text-transform: uppercase;
    opacity: 4;
    color: aliceblue;
    background-color: #272f32;
    font-size: 10px;
    padding: 20px;
  }

/* Aqui termina el footer */

@media screen and (min-width: 810px) {
    body {
        background: #344147;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-top {
        padding-bottom: 0;
    }

    .header-menu {
        padding-top: 0;
        display: block !important;
    }

    .header-menu ul {
        flex-direction: row;
    }

    .header-btn {
        display: none;
    }

    h1 {
        margin-top: 13%;
    }

    ul {
        text-align: center;
        font-size: 20px;
    }

    ul :hover {
        color: #b3f9e5;
        font-size: 22px;
    }

/*Hasta aqui*/

    .col {
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 5%;
        font-size: 20px;
        text-align: center;
        color: #68c3a9;
    }

    .primer-grupo {
        margin-top: 11%;
        width: 100%;
        text-align: justify;
    }

    h1 {
        font-size: 50px;
        color: #68c3a9;
        margin: 10px;
        padding: 10px;
    }
    
    .subgrupo1 {
        display: flex;
        flex-direction: row;
        font-size: 20px;
    }

    .img1 {
        margin-left: 1%;
    }

    .segundo-grupo {
        width: 100%;
    }

    .subgrupo2 {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 10%;
        padding: 2%;
    }

    .subgrupo3 {
        display: flex;
        justify-content: space-between;
        margin-left: 10%;
        margin-right: 16%;
        padding: 2%;
    }

    .img-selection {
        height: 250px;
        border-style: double;
        border-color: #68c3a9;
        border-radius: 4px;
        border-width: 8px;
        background-color: #272f32;
    }

    .col3 {
        text-align: center;
        color: #8be0c8;
        font-size: 25px;
        padding: 2%;
    }

    video {
        height: 250px;
        margin-top: -2%;
        border-style: double;
        border-color: #68c3a9;
        border-radius: 4px;
        border-width: 8px;
        background-color: #272f32;
    }

/*Aqui el footer*/

    footer {
        text-align: center;
        width: 100%;
        padding: 3px;
        background-color: #272f32;
      }
      
    .menu2 {
        width: 100%;
      }
      
    .men2 {
        margin-left: 8%;
        text-decoration: none;
        color: #68c3a9;
        font-size: 17px;
    }
      
    .footer-bottom {
        text-transform: uppercase;
        opacity: 4;
        color: aliceblue;
        background-color: #272f32;
        font-size: 10px;
        padding: 20px 0;
      }

    }

